<div *ngIf="users.length > 0; else loading" class="container">
  <div class="row card-deck">
    <div *ngFor="let user of users; trackBy: trackByFn" class="col-lg-3 col-md-4 col-sm-6">
      <div class="panel panel-default userlist">
        <div class="panel-body text-center">
          <div class="userprofile">
            <div class="userpic">
              <img [src]="user?.picture?.thumbnail"
                   [alt]="user?.name?.first" class="userpicimg" />
            </div>
            <h3 class="username">
              {{ user?.name?.title }} {{ user?.name?.first }} {{ user?.name?.last }}
            </h3>
            <p>{{ user.location.city }}, {{ user.location.state }}</p>
          </div>
          <a href="mailto:{{ user?.email }}">{{ user?.email }}</a> <br />
          <p>{{ user?.cell }}</p>
        </div>
        <div class="panel-footer">
          <a [routerLink]="['/profile', user.login.salt]" title="view more details">
            <i class="fa fa-eye"></i> </a>
          <a [mofDelete]="user.login.salt"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="empty-users">
    <h3 class="title">Your contacts empty</h3>
    <a [routerLink]="['/contacts']"><i class="fa fa-plus"></i> For add contact</a>
  </div>
</ng-template>
